html,
body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

.split-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 60px);
  padding: 5px;
}

.split-box {
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1em;
  /* border: thin solid black; */
  border-radius: 10px;
  margin: 2px;
}

.box-container {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  /* padding: 5px; */
}

.input-card {
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
  border: thin solid black;
  margin: 10px 3px;
  position: relative;
}

.label {
  margin-right: 5px;
}

.val {
  margin-right: 5px;
}

input[type=text] {
  margin-bottom: 10px;
  width: 91%;
  /* margin-top: 15px; */
}

input[type=number]{
  width: 78%;
}

#close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: aliceblue;
  border: none;
  /* font-size: smaller; */
  font-weight: 500;
  color: red;
}

.containerr {
  text-align: center;
  margin-top: 230px;
}

#colButton {
  position: absolute;
  bottom: 10px;
  right: 40px;
  width: 30px;
  height: 1.9em;
}

.homepage-card {
  width: 150px;
  height: 125px;
  background-color: aqua;
  border-radius: 10px;
  margin: 10px;
  padding: 1em;
}

.card-flex {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}

.card-flex a{
  text-decoration: none;
  vertical-align: baseline;
  font-size: xx-large;
  color: white;
}

#homepage p{
  padding: 0px 20px;
}
